pytest
pytest-asyncio
sacrebleu
fastapi
uvicorn
openai
openai-whisper
pyannote.audio
python-dotenv
requests
torch
numpy
transformers
accelerate
jiwer
google-generativeai
google-genai
pymysql
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
cryptography
crewai
crewai-tools
langchain-google-genai
langchain-openai
